/* AdminPage.css */

.admin-page {
    display: flex;
    padding: 20px;
    

}

.admin-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
    
}

.welcome-banner h1 {
    position: relative;
    background-color: #934adb;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 580px;
    left: 20px;
    
    
    
}

.welcome-message  {
    position: relative;
    background-color: #33333339;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 580px;
    top: 20px;
    left: 20px;
    
}

.box  {
    position: relative;
    background-color: #33333339;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    bottom: 150px;
    height: 340px;
    left: 500px;
}

.box2 {
    position: relative;
    background-color: #33333339;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 580px;
    bottom: 590px;
    height: 500px;
    left: 20px;
}

.box2 h2 {
    text-align: center;
    color: #333; /* Color del texto */
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .box2 form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 15px; /* Espaciado entre elementos */
  }
  
  .box2 form label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin: 10px;
  }
  
  .box2 form input,
  .box2 form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #6868689b;
    font-size: 14px;
    margin-left: -10px;
  }
  
  .box2 form input:focus,
  .box2 form select:focus {
    border-color: #934adb;
    outline: none;
  }
  
  .box2 form .full-width {
    grid-column: span 2; /* Elemento ocupa ambas columnas */
  }
  
  .box2 form button {
    grid-column: span 1; /* Botón ocupa ambas columnas */
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #934adb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .box2 form button:hover {
    background-color: #8000ff;
  }


.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 200px;
    left: 500px;
    bottom: 430px;
    background-color: #33333339;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    background-image: url("../assets/Segurapp_rbg.png");
    background-size: cover; 
    background-position: center; 
    z-index: 1;
}

.box3  {
    position: relative;
    background-color: #33333339;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 365px;
    bottom: 1030px;
    height: 300px;
    left: 890px;
    
}

.map  {
    position: relative;
    background-color: #33333339;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 365px;
    bottom: 1730px;
    height: 300px;
    left: 890px;
}

.welcome-message p {
    color: #333;
    margin: 10px 0;
}



.date-time {
    position: relative;
    display: flex;
    gap: 10px; 
    justify-content: center; 
    margin-top: 10px; 
    bottom: 2280px;
    left: 890px;
    background-color: #33333339;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: 365px;
    height: 130px;
}

.date-time p {
    font-size: 0.9rem; 
    color: #1c6bff;
    background-color: #d0d3d4; 
    padding: 8px 12px; 
    border-radius: 8px; 
    font-weight: bold; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    text-align: center; 
}

.date-time h2 {
    font-size: 1.5rem;
}

.date-time h1 {
    font-size: 4rem;
}

    

.key-stats {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    left: 500px;
    bottom: 2210px;
    background-color: #33333339;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

.stat-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #333;
}


.menu {
    position: absolute;
    top: 140px;
    left: 360px;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 10px 60px;
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    color: #fff;
    
}
  
.menu li {
    padding: 5px 10px;
}
   
.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
  
a:hover {
    text-decoration: underline;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .user-form label {
    display: flex;
    flex-direction: column;
  }
  
  .user-form input, .user-form select {
    padding: 8px;
    margin-top: 5px;
  }
  
  .user-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .user-form button:hover {
    background-color: #45a049;
  }
  