body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.forms-wrapper {
    display: flex;
    gap: 50px; 
    justify-content: center;
    align-items: flex-start; 
}
.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; 
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #6a5acd;
    margin-bottom: 30px; 
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 12px; /* Ajuste del padding para mayor espacio */
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; /* Color más claro */
}

form input[type="text"].error,
form input[type="number"].error,
form select.error {
    border-color: #ff6666;
    background-color: #ffe6e6;
}

form input[type="text"]:valid,
form input[type="number"]:valid,
form select:valid {
    border-color: #66cc66;
    background-color: #e6ffe6;
}

.date-container {
    display: flex;
    justify-content: space-between;
}

.date-container input[type="number"] {
    width: 30%;
    padding: 12px; /* Ajuste del padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.date-container select {
    width: 35%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #838080;
}

.date-container select option {
    color: #000;
    background-color: #f9f9f9; 
}

small {
    color: #ff6666;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

/* Estilos para las secciones de los sectores */
.sector-section {
    border: 1px solid #ddd;
    padding: 25px; /* Aumentar padding para un diseño más aireado */
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.sector-section h3 {
    font-size: 22px;
    color: #6a5acd;
    margin-bottom: 20px;
}

.sector-section input[type="text"],
.sector-section input[type="number"],
.sector-section select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Botones principales */
button {
    padding: 15px; /* Tamaño del botón aumentado */
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* El botón se estira a todo el ancho */
    margin-top: 10px;
}

button:hover {
    background-color: #5b4bb5;
}

/* Botón para eliminar secciones */
button[type="button"] {
    background-color: #6a5acd ;
    margin-top: 10px;
}

button[type="button"]:hover {
    background-color: #e05555;
}

/* Botón para agregar sectores */
.add-section-button {
    background-color: #6a5acd;
    color: white;
    margin-top: 20px;
}

.add-section-button:hover {
    background-color: #5b4bb5;
}

/* Generar informe */
button[type="submit"] {
    width: 100%;
    margin-top: 15px;
    background-color: #6a5acd;
    font-size: 16px;
}
