body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #6a5acd;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

form input[type="text"].error,
form input[type="number"].error,
form select.error {
    border-color: #ff6666;
    background-color: #ffe6e6;
}

form input[type="text"]:valid,
form input[type="number"]:valid,
form select:valid {
    border-color: #66cc66;
    background-color: #e6ffe6;
}

.date-container {
    display: flex;
    justify-content: space-between;
}

.date-container input[type="number"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.date-container select {
    width: 35%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #838080;
}
.date-container select option {
    color: #000;
    background-color: #f0f0f0; 
}


small {
    color: #ff6666;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}
