.password-recovery-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .password-recovery-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .recovery-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .message {
    margin-top: 10px;
    color: green;
  }
  