
/* Fondo de la página */
.password-recovery-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.recuperar-contra {
  background-color: white;
  padding: 20px;
  left: 540px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  position: relative;
  text-align: center;
}

/* Estilo de los textos */
h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.input-group input {
  width: 89%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F5F5F5;
  color: #333
}

/* Estilo de los botones */
.button-group {
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  background-color: transparent;
  color: #555;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recovery-btn {
  background-color: #6b47dc;
  color: #fff;
  padding: 10px 15px;
  margin-right: 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: #6b47dc;
}

/* Imagen de fondo */
.password-recovery-page::before {
  content: "";
  background-image: url('../assets/Segurapp_rbg.png'); /* Asegúrate de ajustar la ruta de la imagen */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 790px;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 600px;
  opacity: 0.2;
  z-index: 0;
}

.password-recovery-box {
  z-index: 1;
}
