/* body {
  display: flex;
  justify-content: center;
} */

.contenedor-update-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9581d3;
  width: 60vw;
  height: 40vw;
}

.contenedor-update-pass form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
