.imagen-datos {
  display: flex;
  gap: 40px;
  padding: 10px;
  background-color: white;
}

.imagen-usuario {
  display: flex;
  height: 500px;
  width: 450px;
  /* justify-content: center;
  align-items: center; */
}

.seccion-usuario {
  display: flex;
  flex-direction: column;
}

.seccion-usuario span {
  display: block;
}

.btn-editar-perfil {
  margin-left: auto;
}

.div-componentes-usuario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-cambiar-contraseña {
  background-color: #ec221f;
  width: 500px;
}
