.contenedor-principal-perfil {
  display: flex;
  /* flex-direction: row; */
  /* padding: 10px; */
  background-color: white;
  width: 90vw;
  height: 105vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contendor-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* transform: scale(0.9); */
}

.imagen-usuario {
  display: flex;
  height: 250px;
  width: 225px;
  /* row-gap: 5px; */
  /* margin: 0 auto; */
}

.seccion-usuario {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  transform: scale(0.8);
}

/* Eliminado
  .seccion-usuario span {
  display: block;
} */

.seccion-usuario h1 {
  color: #15307a;
  text-align: center;
  margin: 5px;
}

.btn-editar-perfil {
  margin-left: auto;
}

.div-componentes-usuario {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* height: 100vh; */
}

.btn-cambiar-contraseña {
  background-color: #ec221f;
  width: 400px;
}
